version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: postgres-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: alim-cons
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: alim-cons
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data:
